input{
    border: 1px solid gray;
}

body {
    background-color: aquamarine;
    align-items: center;
    font-family: 'Helvetica', sans-serif;
}

.center_outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.center_middle {
    display: table-cell;
    vertical-align: middle;
}

.center_inner {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.container{
    border-radius: 5px;
    margin: 2.5% 2.5% 2.5% 2.5%;
    padding: 2%;
    width: auto;
    height: auto;
    background-color: white;
}

.noborder{
    border: none;
}