#login_register {
    width: 500px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    background: #fff
}

#login_register:after {
    clear: both;
    content: " ";
    display: block;
}

#register_form{
    float: left;
    clear: both;
}
