body {
    background-color: aquamarine;
    align-items: center;
    font-family: 'Helvetica', sans-serif;
}

#verify {
    width: auto;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    background: #fff;
    text-align: center;
}

#verify:after {
    clear: both;
    content: " ";
    display: block;
}

#verify_form{
    float: left;
    clear: both;
}